{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
	<div class="container">
		<img class="pull-left" src="">
		<h1>PUCK</h1>
		<h3>Private Universal Collaboration Kit</h3>
	</div>
</div>
<main class="container">
	<p>
		This is where the status display will be.
	</p>
</main>

{% endblock %}
